body {
	margin: 0 auto;
	background-image: url(../img/dainty-falling-flowers-navy-desktop.png);
	height: 100vh;
	width: 100%;
}

header{
	width: 100%;
	margin-top: 0;
}

/*Texto Principal, Twitter*/
.title{
	background: rgba(0,0,0,0.37);
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.36) 0%, rgba(0,0,0,0.36) 91%, rgba(28,28,28,0.36) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,0.37)), color-stop(0%, rgba(0,0,0,0.36)), color-stop(91%, rgba(0,0,0,0.36)), color-stop(100%, rgba(28,28,28,0.36)));
  background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.36) 0%, rgba(0,0,0,0.36) 91%, rgba(28,28,28,0.36) 100%);
  background: -o-linear-gradient(-45deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.36) 0%, rgba(0,0,0,0.36) 91%, rgba(28,28,28,0.36) 100%);
  background: -ms-linear-gradient(-45deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.36) 0%, rgba(0,0,0,0.36) 91%, rgba(28,28,28,0.36) 100%);
  background: linear-gradient(135deg, rgba(0,0,0,0.37) 0%, rgba(0,0,0,0.36) 0%, rgba(0,0,0,0.36) 91%, rgba(28,28,28,0.36) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1c1c1c', GradientType=1 );
	text-align: center;
	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	height: 70px;
	line-height: 70px;
}

/*Cuadro Principal*/
.first_cuadro{
	background: rgba(26,24,89,0.37);
  background: -moz-linear-gradient(-45deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(26,24,89,0.37)), color-stop(0%, rgba(26,24,89,0.36)), color-stop(91%, rgba(26,24,89,0.36)), color-stop(100%, rgba(49,18,115,0.36)));
  background: -webkit-linear-gradient(-45deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  background: -o-linear-gradient(-45deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  background: -ms-linear-gradient(-45deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  background: linear-gradient(135deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1859', endColorstr='#311273', GradientType=1 );
  border-radius: 10px;
	position: absolute;
	width: 400px;
	height: 250px;
	bottom: 300px;
	left: 100px;
}

.first_cuadro h4{
	color: #000;
	font-family: Courier New, sans-serif;
	margin-left: 25px;
	line-height: 0px;
	margin-top: 30px;
}

.first_cuadro h3{
	color: #000;
	font-family: Courier New, sans-serif;
	margin-left: 25px;
	margin-top: 50px;
}

.first_cuadro h2{
	text-transform: uppercase;
	color: #21618C  ;
	font-size: 16px;
	font-weight: 900px;
	margin-left: 25px;
	margin-top: 70px;
	font-family: Courier New, sans-serif;
}

/*Textarea*/
.second_cuadro{
	background: rgba(26,24,89,0.37);
  background: -moz-linear-gradient(-45deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(26,24,89,0.37)), color-stop(0%, rgba(26,24,89,0.36)), color-stop(91%, rgba(26,24,89,0.36)), color-stop(100%, rgba(49,18,115,0.36)));
  background: -webkit-linear-gradient(-45deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  background: -o-linear-gradient(-45deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  background: -ms-linear-gradient(-45deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  background: linear-gradient(135deg, rgba(26,24,89,0.37) 0%, rgba(26,24,89,0.36) 0%, rgba(26,24,89,0.36) 91%, rgba(49,18,115,0.36) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1859', endColorstr='#311273', GradientType=1 );
  border-radius: 10px;
	width: 50%;
	height: 200px;
	margin-left: 40%;
	margin-top: 4%;
}

#comment{
	margin-left: 20px;
	margin-top: 20px;
	width: 95%;
	height: 15vh;
	border-radius: 10px;
	background: rgba(246,246,246,0.59);
  background: -moz-linear-gradient(-45deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(96%, rgba(246,246,246,0.59)), color-stop(99%, rgba(255,255,255,0.59)), color-stop(100%, rgba(237,237,237,0.57)));
  background: -webkit-linear-gradient(-45deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  background: -o-linear-gradient(-45deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  background: -ms-linear-gradient(-45deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  background: linear-gradient(135deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=1 );
}

.texto{
	width: 550px;
	outline: none;
	min-height: 80px;
	overflow: hidden;
}

#btn{
	width: 150px;
	height: 50px;
	text-decoration: none;
	border: none;
	margin-left: 20px;
	font-family: Courier New, sans-serif;
	border-radius: 6px;
	text-transform: uppercase;
	color: #FFF;
	font-size: 20px;
}

#text{
  height: auto;
  margin-top: 20%;
  margin-left: -50%;
  margin-right: 20%;

}

#text div{
	margin-bottom: 15px;
	background: rgba(246,246,246,0.59);
  background: -moz-linear-gradient(-45deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(96%, rgba(246,246,246,0.59)), color-stop(99%, rgba(255,255,255,0.59)), color-stop(100%, rgba(237,237,237,0.57)));
  background: -webkit-linear-gradient(-45deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  background: -o-linear-gradient(-45deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  background: -ms-linear-gradient(-45deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  background: linear-gradient(135deg, rgba(246,246,246,0.59) 96%, rgba(255,255,255,0.59) 99%, rgba(237,237,237,0.57) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=1 );
	height: auto;
}

/*Deshabilitar botón*/
.btn-hability {
	background-color: #85C1E9;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
	float: left;
}

/*Números de Caracteres*/
#contador{
	font-family: Helvetica;
	font-size: 20px;
	float: right;
	margin-right: 50px;
}

.negro{
	color: #000;
}

.naranja{
	color: orange;
}

.rojo{
	color: red;
}
